@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.font-style {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.round-corner {
  border-radius: 10px;
}

.glass {
  @apply backdrop-blur-lg bg-opacity-30 shadow-2xl ring-1 ring-black/10;
}
