@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: url("../public/images/bg2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.font-style {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.glass {
  @apply backdrop-blur-lg bg-opacity-30 shadow-2xl ring-1 ring-black/10;
}

.low-glass {
  @apply backdrop-blur-lg bg-opacity-30 shadow-md border-b-gray-200 ring-1 ring-black/10;
}
